{% include 'header.html' %}
<head>
    <title>RayTensor</title>
</head>
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="static/images/indexlogo.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="400" height="350">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Узнайте больше о Вашем здоровье на RayTensor!</h1>
        <p class="lead">RayTensor позволит Вам с помощью рентгена или КТ выявить опасные для жизни заболевания на ранних стадиях для дальнейшего лечения.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/xray-request">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Проверить рентген</button>
            </a>
            <a href="/ct-request">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" >Проверить КТ</button>
            </a>
        </div>
      </div>
</div>
